body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("file:///C:/Users/xyz/Downloads/Coding%20Challege%20Part%201/Project%2002/assets/bg.png"); 
    background-size:1400px 650px ;
    background-repeat: no-repeat;
}
.box{
    height: 38px;
    margin-top: 20px;
    margin-left: 30px;
}
nav{
    padding: 10px 8%;
    margin-top: -65px;
    margin-left: -50px;
    align-items: center;
    background-color: black;
  }

  nav ul{
    display: flex;
      align-items: center;
      justify-content: space-evenly;
  }
  nav ul li {
    font-size: 20px;
    list-style: none;
    color: white;
    align-items: center;
  }
  .box1{
    color: white;
    text-align: center;
    font-size: 70px;
  }

  .box2{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: -40px;
  }
  .button2{
    background-color: rgb(156, 13, 156);
    color: white;
    border-radius: 7px;
    padding: 12px 12px;
    margin-left: 580px;
    font-size: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .button1{
    background-color: rgb(156, 13, 156);
    color: white;
    padding: 5px 10px;
    margin-left:120px;
    border-radius: 7px;
  }
 
